
.contact {
    padding-top: 80px;
    padding-bottom: 90px;
}

.py-5 {
    width: 670px;
}

.contact h3 {
    font-size: 37px;
    font-weight: 600;
    word-spacing: 3px;
    letter-spacing: -2px;
    padding-bottom: 15px;
    color: #eb3a70;
}

.contact h4 {
    color: #e5bace;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    padding-bottom: 25px;
    text-transform: uppercase;
}

.contact p {
    color: #e1f2f7;
    font-size: 13px;
    font-weight: 500;
    line-height: 25px;
    padding-bottom: 35px;
    padding-right: 57px;
}

.contact address p {
    color: #e5bace;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    padding-bottom: 0;
}

.contact address .fa {
    margin-right: 20px;
    font-size: 20px;
}

.form-control {
    height: 52px;
    border-radius: 0;
    margin-bottom: 10px;
    border: 1px solid #e5bace;
}

.contact input {
    height: 63px;
    border-radius: 0;
    margin-bottom: 16px;
    border: 1px solid #e5bace;
}

.contact .btn {
    width: 272px;
    color: white;
    font-size: 13px;
    font-weight: 600;
    padding: 16px 0;
    letter-spacing: 1px;
    background-color: #e5bace;
    text-transform: uppercase;
}

.contact .btn:hover {
    color: white;
}

textarea.form-control {
    height: auto;
    margin-bottom: 15px;
    padding: 20px 13px;
}

/* Source: https://css-tricks.com/almanac/selectors/p/placeholder/ */
.contact ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #e5bace;
}

.contact ::-moz-placeholder {
    color: #e5bace;
}

.contact ::-ms-input-placeholder {
    color: #e5bace;
}

.contact ::-moz-placeholder {
    color: #e5bace;
}
