            /* Dinein/Dineout css */
            
            @import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;900&display=swap');
            /* TODO: Taken from index.css bec. other styles clashing with dining pages */
            /* from index.css nav-links style in html */
            
            * {
                box-sizing: border-box;
            }
            
            html {
                background-color: #000;
                /* background-color: #cacaca9d; */
                background-color: #fff;
            }
            
            .nav-links {
                font-family: 'Nerko One', cursive;
            }
            
            .navbar-item {
                font-family: 'Nerko One', cursive;
            }
            /* Dine CSS */
            /* Text throughout */
            
            p {
                color: #000;
                font-family: 'Monteserrat', sans-serif;
                font-size: .90rem;
            }
            
            .hero-body-jtr,
            .hero-body-dine {
                background-image: url("../img/foodastic_Hero-yellow-250.png");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
            
            .hero-body-about {
                background-image: url("../img/foodastic_Foodastic-Hero-250.png");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
            
            .column-banner {
                align-items: center;
                background-color: #fdc407;
                height: 75px;
                margin: auto;
            }
            
            .title {
                color: #000;
                font-family: 'Nerko One', cursive;
                font-size: 3.5rem;
                /* font-weight: normal; */
                text-align: center;
            }
            
            .subtitle {
                color: #000;
                font-family: 'Monteserrat', sans-serif;
                font-size: 2rem;
                text-align: center;
            }
            /***** About Page ******/
            
            .column-banner-about {
                align-items: center;
                background-color: #e02239;
                height: 75px;
                margin: auto;
            }
            
            .hero-text-about {
                font-size: 40px;
            }
            
            .titleA {
                color: #000;
                font-family: 'Nerko One', cursive;
                font-size: 2rem;
                font-weight: normal;
                text-align: center;
            }
            
            .subtitleA {
                color: #e02239;
                font-family: 'Monteserrat', sans-serif;
                font-size: 1rem;
                font-weight: bold;
                text-align: center;
            }
            
            .about-blurb-jtr {
                color: #000;
                display: block;
                font-family: 'Monteserrat', sans-serif;
                font-size: .75rem;
                font-style: italic;
                text-align: center
            }
            
            .avatar-tile {
                text-align: center;
            }
            
            .about-avatar-jtr {
                height: auto;
                margin: auto;
                width: 65%;
            }
            /* Sidebar for all Dining pages  */
            
            #btnSearch,
            #searchBtn {
                font-family: 'Nerko One', cursive;
                background-color: #000;
            }
            /* search button on Dunno */
            
            .magic {
                font-family: 'Nerko One', cursive;
                font-size: 2rem;
            }
            
            .allcaps {
                font-family: 'Nerko One', cursive;
                font-size: .90rem;
                font-family: 'Nerko One', cursive;
                font-size: 1rem;
                color: #000;
            }
            
            .box-sidebar-tr {
                padding: 10px;
            }
            
            .box-sidebar {
                width: 100%;
            }
            
            .checkbox,
            .choice,
            .moth-choice {
                font-family: 'Monteserrat', sans-serif;
                font-size: .90rem;
                color: #363636;
            }
            
            .foodastic {
                font-family: 'Monteserrat', sans-serif;
                color: #e02239;
                font-weight: bold;
            }
            
            .best {
                font-family: 'Monteserrat', sans-serif;
                font-size: 1.5rem;
            }
            
            .cheap {
                font-family: 'Nerko One', cursive;
                font-size: 4rem;
                line-height: .5;
            }
            
            .nevermind {
                font-family: 'Monteserrat', sans-serif;
                font-size: 1.2rem;
            }
            
            a.blink:hover {
                color: #e02239;
            }
            /* inputs, checkboxes, textareas */
            
            .input-tr,
            .textarea {
                width: 80%;
            }
            
            input {
                margin-right: 8px;
            }
            
            .title,
            .subtitle {
                display: inline;
            }
            /* Speedy Eats bar */
            
            #filterImageBack {
                color: #000;
                font-family: 'Monteserrat', sans-serif;
                font-size: 1.5rem;
                font-weight: bold;
                text-align: center;
                text-shadow: 2px 2px 5px grey;
                margin: 0;
            }
            
            .filterImageBack:hover {
                color: black;
            }
            /****** Dunno Page Filters ******/
            
            .dunno-text,
            .dine-text {
                font-family: 'Nerko One', cursive;
                font-size: 25px;
            }
            
            .box-cheapeats {
                text-align: center;
                height: 200px;
                width: auto;
                padding-top: 35px;
            }
            
            .dunno-choice-div {
                width: 150px;
                margin-right: auto;
                margin-left: auto;
            }
            
            .box.dunno-icon-box,
            .dine-icon.box,
            .icon-box {
                height: 250px;
                background-color: #fdc407;
            }
            
            .dine-text {
                text-align: center;
            }
            
            .dunno-text,
            .surpriseme {
                padding: 10px 0 15px;
                text-align: center;
            }
            
            .dunno-icon-row {
                text-align: center;
                letter-spacing: 5px;
                line-height: 3;
            }
            /* Icon defaults */
            
            .fa-exclamation-circle,
            .fa-smile,
            .fa-frown,
            .fa-angry,
            .fa-meh,
            .fa-kiss-wink-heart,
            .fa-meh-rolling-eyes {
                color: #000;
            }
            
            .is-square-icon {
                width: 150px;
                margin-right: auto;
                margin-left: auto;
                display: block;
            }
            
            .is-square-savory {
                width: 200px;
                margin-right: auto;
                margin-left: auto;
                display: block;
            }
            
            .dunno-random-button {
                background-color: #000;
                color: #fff;
                display: block;
                font-weight: bold;
                margin-bottom: 5px;
                margin-left: auto;
                margin-right: auto;
                width: 125px;
            }
            
            .dunno-random-button:focus {
                border: none;
                outline: none;
            }
            
            .moth-icon {
                text-align: center;
                width: 130px;
            }
            
            .dunno-icon-input {
                display: block;
                text-align: center;
            }
            /* Add space between inline inputs */
            
            .moth-choice:after {
                content: " ";
                display: inline-block;
                width: 10px;
            }
            
            .column {
                padding: .5rem;
            }
            /* Icon effects */
            
            .clickable {
                cursor: pointer;
            }
            
            .dunno-random-button:hover,
            .far:hover,
            .fas:hover,
            .is-square-icon:hover,
            .is-square-savory:hover,
            .is-square-eats:hover,
            .moth-icon {
                -webkit-transform: scale(1.1);
                -ms-transform: scale(1.1);
                transform: scale(1.1);
            }
            /* for random buttons */
            
            .red {
                background-color: #e02239;
            }
            
            .exclamation-red {
                color: #e02239;
            }
            /* Face icon toggle */
            
            .icon-toggle {
                color: #000;
            }
            
            .selected {
                color: #e02239;
            }
            
            .shadow {
                -webkit-box-shadow: 0 8px 6px -6px black;
                -moz-box-shadow: 0 8px 6px -6px black;
                box-shadow: 0 8px 6px -6px black;
            }
            
            .shadow-down {
                -moz-box-shadow: inset 0 0 10px #000000;
                -webkit-box-shadow: inset 0 0 10px #000000;
                box-shadow: inset 0 0 10px #000000;
            }
            
            .col-space {
                padding: 0 20px;
            }
            /********** DineIn & Dunno full recipe page   **********/
            
            .detailInformation {
                padding: 0 100px;
            }
            
            #detailTitle {
                color: #000;
                font-family: 'Nerko One', cursive;
                font-size: 2rem;
                font-weight: bold;
                /* height: 75px; */
                text-align: left;
                text-transform: lowercase;
                line-height: 1;
            }
            
            #detailImage {
                max-width: 700px;
                padding-bottom: 40px;
                width: 100%;
            }
            
            #detailSummary,
            #detailInstructions {
                color: h#000;
                font-family: 'Monteserrat', sans-serif;
                font-size: .90rem;
                line-height: 1.75;
            }
            
            #detailTime {
                color: grey;
                font-family: 'Monteserrat', sans-serif;
                font-size: .90rem;
                font-style: italic;
                margin-bottom: 50px;
            }
            /********** Dineout results images & info  **********/
            /* YELP */
            /* Recipe dump pages */
            
            .cheap {
                font-size: 3rem;
                line-height: .5;
            }
            
            .box.yelp-img-box {
                padding: 15px 15px;
                max-height: 500px;
                height: 100%;
            }
            
            .yelp-img,
            .pic.yelp-img.is-3by4 {
                display: block;
                height: 350px;
                margin: auto;
                max-height: 100%;
                object-fit: cover;
                width: 100%;
            }
            /*  */
            /* **************Modal Styles***************** */
            /* for the whole modal component */
            
            .modal {
                position: fixed;
                z-index: 9999;
                padding: 50px 0 50px 0;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                overflow: auto;
                background-color: rgba(0, 0, 0, .4);
            }
            /* for the content inside the modal */
            
            .content {
                width: 30%;
                border: none;
                background-color: #fbfdfe;
                /* background-color: #e02239; */
                margin: auto;
                padding: 15px;
                border-radius: 10px;
                overflow: hidden;
                text-align: center;
                box-shadow: 1px 1px 14px 3px rgba(0, 0, 0, 0.75);
            }
            /* for the close (X) */
            
            .close {
                color: #aaa;
                float: right;
                font-size: 30px;
                font-weight: 700
            }
            /* when we hover on the close (X) */
            
            .close:focus,
            .close:hover {
                color: #000;
                text-decoration: none;
                cursor: pointer
            }
            
            #city {
                width: 300px;
            }
            
            #zip {
                width: 300px;
            }
            /* ******************************* */
            
            #LoadingImage {
                width: 300px;
                height: auto;
                align-self: center;
                margin: 0 auto;
            }
            
            #favIcon {
                margin: 0 auto;
                width: 25px;
                height: auto;
                align-self: right;
            }
            
            #favIcon:hover {
                cursor: pointer;
            }
            
            .selectedDiv {
                border: 2px solid #242424;
            }
            
            .check {
                width: 25px;
            }
            /* Results Page */
            
            .do-info-div {
                padding-top: 15px;
                padding-right: 15px;
            }
            
            .name a,
            .name,
            .recipeTitle {
                font-family: 'Nerko One', cursive;
                font-size: 1.15rem;
                font-weight: normal;
                color: #000;
                line-height: 1;
                padding-top: 8px;
                /* overflow-wrap: break-word; */
                width: 225px;
            }
            
            .divInfo {
                width: 200px;
            }
            
            .binfo {
                font-family: 'Monteserrat', sans-serif;
                font-size: .75rem;
                color: grey;
                margin-left: 20px;
                font-style: italic
            }
            
            .pPrice {
                font-family: 'Monteserrat', sans-serif;
                text-align: right;
                font-style: italic;
            }
            
            .btext,
            .rating,
            .blurb,
            .rating,
            .price {
                font-family: 'Monteserrat', sans-serif;
                font-size: .85rem;
                color: #363636;
                line-height: 1.5;
            }
            /* Detail Information */
            
            .detailInformation {
                width: 100%;
            }
            
            #detailImage {
                width: auto;
                max-height: 400px;
                /* border: 1px solid #242424; */
                border-radius: 5px;
                align-self: center !important;
                margin: 0 auto;
            }
            
            #detailTitle {
                font-size: 32px;
                text-align: center;
            }
            /****************MEDIA QUERIES RECOPIED *******************/
            
            @media screen and (min-width: 769px) and (max-width: 1023px) {
                /* sidebar to full screen width */
                .column.is-3 {
                    flex: none;
                    width: 100%;
                }
                .title {
                    font-size: 3rem;
                }
                .subtitle {
                    font-size: 1.75rem;
                }
                .input,
                .textarea {
                    max-width: 50%;
                }
                .tile.is-child {
                    width: 40%;
                    height: max-content;
                    margin-bottom: 25px;
                }
                .api-img {
                    height: 200px;
                    margin-bottom: 3px;
                }
                .titleA {
                    font-size: 1.5rem;
                }
                .subtitleA {
                    font-size: .80rem;
                }
                .about-blurb-jtr {
                    font-size: .75rem;
                }
                .about-avatar-jtr {
                    width: 65%;
                }
            }
            
            @media screen and (max-width: 768px) {
                .title {
                    font-size: 3rem;
                }
                .subtitle {
                    font-size: 1.75rem;
                }
                .input,
                .textarea {
                    max-width: 35%;
                }
                /* Controlling Yelp Results */
                .box.yelp-img-box {
                    max-height: 100%;
                    min-height: 250px;
                }
                .yelp-img,
                .pic.yelp-img.is-3by4 {
                    height: 200px;
                    width: 50%;
                    float: right;
                    margin-right: 15px;
                }
                .do-info-div {
                    margin-top: 0px;
                    padding-top: 0px;
                    float: left;
                }
                .about-avatar-jtr {
                    width: 200px;
                }
                .avatar-tile {
                    display: inline;
                }
                .detailInformation {
                    padding: 0 60px;
                }
            }
            /* FROM INDEX CSS ********************** */
            
            h4 {
                font-family: 'Nerko One', cursive;
                font-size: 20px;
                color: black;
            }
            
            .title {
                font-family: 'Nerko One', cursive;
            }
            
            .Footer {
                background-color: #fff;
                padding: 1.5rem 1.5rem;
                font-weight: bold;
                font-size: 0.85em;
                overflow-x: hidden;
                text-align: center;
                position: sticky;
                left: 0;
                bottom: 0 !important;
                width: 100%;
                height: 200px;
            }
            
            .Footer a {
                padding-bottom: 1px;
                border: 0;
            }
            
            hr.style {
                border-top: 2px solid #e02239;
            }
            /* footer: social media */
            
            #social ul {
                padding-left: 0px;
                margin: 0 auto;
            }
            /** Facebook **/
            
            .facebook {
                width: 25px;
                height: 25px;
            }
            
            .facebook .border {
                background: transparent;
                outline: none;
                color: #e02239;
                width: 25px;
                height: 25px;
                -webkit-border-radius: 100px;
                -moz-border-radius: 100px;
                border-radius: 100px;
                border: 2px solid #e02239;
                transition: all .2s ease-in-out;
            }
            
            .facebook .border:hover {
                background: #e02239;
                border-color: #e02239;
                color: rgba(255, 255, 255, 0.9);
                transform: scale(1.2);
            }
            /** Twitter **/
            
            .twitter {
                width: 25px;
                height: 25px;
            }
            
            .twitter .border {
                background: transparent;
                outline: none;
                color: #e02239;
                width: 25px;
                height: 25px;
                -webkit-border-radius: 100px;
                -moz-border-radius: 100px;
                border-radius: 100px;
                border: 2px solid #e02239;
                transition: all .2s ease-in-out;
            }
            
            .twitter .border:hover {
                background: #e02239;
                border-color: #e02239;
                color: rgba(255, 255, 255, 0.9);
                transform: scale(1.2);
            }
            /** Instagram **/
            
            .instagram {
                width: 25px;
                height: 25px;
            }
            
            .instagram .border {
                background: transparent;
                outline: none;
                color: #e02239;
                width: 25px;
                height: 25px;
                -webkit-border-radius: 100px;
                -moz-border-radius: 100px;
                border-radius: 100px;
                border: 2px solid #e02239;
                transition: all .2s ease-in-out;
            }
            
            .instagram .border:hover {
                background: #e02239;
                border-color: #e02239;
                color: rgba(255, 255, 255, 0.9);
                transform: scale(1.2);
            }
            
            #social ul:hover>li:hover {
                opacity: 1;
            }